---
import Callout from './Callout.astro';
import Link from './Link.astro';
---

<Callout>
	<p>
		Founding Engineer at{' '}
		<Link href="https://gathercontent.com" class="font-semibold">
			GatherContent
		</Link>
		{' '}(acq 22).{' '}
		<span class="md:block">
			Previously Frontend Lead{' '}
			<span class="block sm:inline">
				at{' '}
				<Link href="https://wearejh.com/" class="font-semibold">JH</Link>
				{' '}&{' '}
				<Link href="https://un.titled.com" class="font-semibold">Un.titled</Link>.
			</span>
		</span>
	</p>
</Callout>
