---
import DateText from './DateText.astro';
import Link from './Link.astro';

interface Props {
	href: string;
	title: string;
	date: string;
	intro: string;
}

const { href, title, date, intro } = Astro.props;
---

<article>
	<div class="flex flex-wrap-reverse">
		<Link href={href} class="w-full">
			<h3 class="text-inherit m-0 lg:m-0">{title}</h3>
		</Link>
		<DateText>{date}</DateText>
	</div>
	<p class="text-slate-500 mt-2">{intro}</p>
</article>
